@font-face {
  font-family: "minecraft1";
  src: url("./fonts/minecraft1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-img {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/background_0.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.background-img1,
.background-img2,
.background-img3 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  image-rendering: pixelated;
}

.background-img1 {
  background-image: url("./assets/background_1.png");
  animation: slideUp1 1s forwards; /* Trigger the animation once */
}

.background-img2 {
  background-image: url("./assets/background_2.png");
  animation: slideUp2 2s forwards; /* Trigger the animation once */
}

.background-img3 {
  background-image: url("./assets/background_3.png");
  animation: slideUp3 3s forwards; /* Trigger the animation once */
}

.char-img1 {
  width: 100px; /* Final width */
  height: 100px; /* Final height */
  background-image: url("./assets/char1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 3vh; /* Final position */
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  image-rendering: pixelated;
  cursor: pointer;
  animation: slideToPositionChar 3s forwards; /* Trigger the animation once */
}

@keyframes slideUp1 {
  from {
    bottom: -100vh;
    left: 0;
  }
  to {
    bottom: 0;
    left: 0;
  }
}

@keyframes slideUp2 {
  from {
    bottom: -100vh;
    left: 0;
  }
  to {
    bottom: 0;
    left: 0;
  }
}

@keyframes slideUp3 {
  from {
    bottom: -100vh;
    left: 0;
  }
  to {
    bottom: 0;
    left: 0;
  }
}

@keyframes slideToPositionChar {
  from {
    bottom: -50vh;
    left: 50%; /* Start from the center horizontally */
    transform: translateX(-50%);
  }
  to {
    bottom: 3vh;
    left: 50%; /* End at the center horizontally */
    transform: translateX(-50%);
  }
}

.moon-img {
  width: 100px;
  height: 100px;
  margin: 20px;
  background-image: url("./assets/moon.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: -100px;
  image-rendering: pixelated;
  animation: moveToLeftCorner 2s forwards;
}

@keyframes moveToLeftCorner {
  from {
    left: -100px;
  }
  to {
    left: 0;
    top: 0;
  }
}

.clickable-text {
  position: absolute;
  bottom: -50px;
  left: 53%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  z-index: 10;
  animation: moveTextUp 4s forwards;
}

.clickable-text {
  font-family: "minecraft1", sans-serif;
}

/* Keyframes for moving text from bottom to top */
@keyframes moveTextUp {
  0% {
    bottom: -50px;
    opacity: 0;
  }
  100% {
    bottom: 110px;
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .char-img1 {
    width: 100px;
    height: 100px;
  }

  .clickable-text {
    font-size: 24px;
    animation: moveTextUpMobile 4s forwards;
    left: 62%;
  }

  @keyframes moveTextUpMobile {
    0% {
      bottom: -50px;
      opacity: 0;
    }
    100% {
      bottom: 118px;
      opacity: 1;
    }
  }
}

@keyframes moveDown {
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}

@keyframes moveDownChar {
  from {
    bottom: 3vh;
  }
  to {
    bottom: -100vh;
  }
}

.move-down1 {
  animation: moveDown 1s forwards;
}
.move-down2 {
  animation: moveDown 2s forwards;
}
.move-down3 {
  animation: moveDown 3s forwards;
}
.move-down4 {
  animation: moveDownChar 3s forwards;
}

.move-down5 {
  animation: moveDownChar 3s forwards;
}

@keyframes moveOutLeft {
  from {
    left: 0;
  }
  to {
    left: -100vw; /* Move to the left out of view */
  }
}

.move-out-left {
  animation: moveOutLeft 2s forwards;
}
