@font-face {
  font-family: "minecraft1";
  src: url("../fonts/minecraft1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "minecraft1", sans-serif;
  font-size: calc(1vw + 1vh + 0.5vmin);
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  max-height: 900px;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.transparent-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  border: none;
  border-radius: 20px;
  width: 900px;
  box-shadow: 10px 10px 10px pink;
  opacity: 0.8;
  overflow-y: auto;
  max-height: 500px;
}

#text {
  background-color: white;
  box-shadow: 10px 10px 10px pink;
  width: 860px;
  padding: 10px;
  border: 2px solid pink;
  border-radius: 20px;
  height: 30px;
  margin: 30px;
  text-indent: 35px;
}

#text:focus {
  outline: none;
}

.move-under-input {
  margin-bottom: -180px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 19px;
  gap: 60px;
  flex-direction: row;
  width: auto;
  max-width: 90%;
  font-size: calc(16px + (3 * ((100vw - 320px) / 680)));
}

@media (max-width: 768px) {
  .move-under-input {
    flex-direction: column;
    bottom: -175px;
    gap: 15px;
  }
}

.move-chat-container {
  position: absolute;
  display: flex;
  top: 60%;
  left: 50%;
  width: 80vw;
  max-width: 900px;
  transform: translate(-50%, -50%);
}

.msg-bot {
  padding: 5px;
  border: 2px solid #333;
  margin: 10px;
  display: inline-block;
  border-radius: 20px;
  border-color: pink;
  box-shadow: 5px 5px 5px pink;
  margin-left: -25px;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 60%;
}

#chat-logo {
  position: absolute;
  top: 27%;
  left: 5%;
  transform: translate(-50%, -50%);
  color: pink;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(252, 178, 191);
  font-size: 25px;
}

.msg-user {
  padding: 5px;
  border: 2px solid pink;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 5px 5px 5px pink;
  background-color: pink;
  width: auto;
  margin-left: 0;
  text-align: left;
  margin-bottom: 10px;
  align-self: flex-end;
}

.msg-bot p,
.msg-user p {
  font-weight: normal;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

a,
a:visited,
a:hover,
a:active {
  color: rgb(101, 78, 82);
  text-decoration: none;
}

#hello-kitty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9.5px;
  width: 50px;
  height: 50px;
}

#yct {
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

button {
  padding: 10px;
  border: 2px solid #333;
  display: inline-block;
  border-radius: 20px;
  border-color: pink;
  box-shadow: 5px 5px 5px rgb(174, 108, 119);
  background-color: pink;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 255, 255);
  border-color: pink;
  box-shadow: 5px 5px 5px pink;
  color: pink;
}

p1 {
  text-align: center;
  padding: 10px;
  display: inline-block;
  border-radius: 20px;
  height: 23px;
  width: auto;
  background-color: transparent;
  font-size: 27px;
}

p3 {
  padding: 5px;
}

#workExperience,
#personalProject,
#funFacts,
#workBtn,
#personal-project,
#fun-facts {
  font-family: "minecraft1", sans-serif;
  font-size: 19px;
}

.move-table {
  display: flex;
  justify-content: center;
}

.table-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  max-width: 970px;
  height: auto;
  min-height: 80px;
  background-color: pink;
  border: 2px solid #fff;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 5px 5px 5px rgba(255, 20, 147, 0.5);
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
}

@media (max-width: 768px) {
  .table-contents {
    width: 95%;
    min-height: 60px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(255, 20, 147, 0.5);
  }
}

.move-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(1.5vw + 1.5vh + 0.5vmin);
  gap: 8vw;
}

.move-contents a:hover {
  color: pink;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(156, 115, 115, 0.2);
}

.view-pdf {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  padding: 40px;
  border: none;
  border-radius: 20px;
  width: 900px;
  box-shadow: 10px 10px 10px pink;
  opacity: 0.8;
  height: 400px;
}

.move-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.move-contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-me {
  font-size: 50px;
}

.move-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 0em;
}

#email {
  font-size: 30px;
}
